@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap");

/* VARIABLE COLORS */
:root {
  --teal: #0c888c;
  --blue: #00496d; /*rgba(0, 73, 109, .5)*/
  --transblue: rgba(0, 25, 55, 0.5);
  --dark: rgb(0, 25, 55);
}

/* RESET + BACKGROUND */
* {
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      rgba(12, 136, 140, 0.9),
      rgba(0, 73, 109, 0.9)
    ),
    url("assets/bg.png");
  background-position: top;
  background-repeat: repeat;
}

/* BASE STYLES */

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Poiret One", sans-serif;
  font-size: min(max(2.5em, 8vw), 4em);
  color: white;
  margin-bottom: 10px;
}

h2 {
  font-size: min(max(2em, 6vw), 3em);
  font-family: "Poiret One", sans-serif;
  color: white;
  margin-bottom: 30px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* NAVIGATION */
#navbar {
  position: fixed;
  width: 100vw;
  background: var(--blue);
  padding: 1em 0em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #navbar {
    text-align: center;
  }
}

#navbar a {
  font-size: 16px;
  font-weight: 550;
  padding: 1em;
  text-decoration: none;
  color: white;
}

#navbar a:hover {
  background: var(--dark);
  color: var(--teal);
  transition: 0.25s;
}

/* WELCOME SECTION */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#profile-img {
  margin: 30px auto;
  width: 30%;
  max-width: 300px;
  border: solid 10px white;
  border-radius: 5px;
}

#welcome-section p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5em;
  padding: 0.5em;
}

/* PROJECTS SECTION */
#gallery {
  display: block;
  height: 25px;
  visibility: hidden;
}

#gallery-section {
  background: var(--blue);
  padding: 30px;
  min-height: 92vh;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2em;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  grid-gap: 2em;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .project-grid {
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .img-grid {
    grid-gap: 1em;
  }
}

.project-tile {
  background: var(--teal);
  height: auto;
  border-radius: 5px;
  transition: 0.25s;
}

.project-tile:hover {
  background: var(--dark);
}

.project-tile p {
  color: white;
  margin: 10px;
}

.project-tile:hover p {
  color: var(--teal);
  transition: 0.25s;
}

.project-img {
  max-width: 90%;
  margin-top: 5%;
  border-radius: 5px;
}

.art {
  padding-bottom: 0.8em;
}

/* CONTACT SECTION */
#contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.info {
  width: 75vw;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.info p {
  color: rgba(255, 255, 255, 0.9);
  font-size: min(max(1.25em, 4vw), 1.75em);
}
#at {
  color: rgba(255, 255, 255, 0.6);
  font-size: min(max(3em, 8vw), 5em);
  margin-bottom: 1em;
}

/* FOOTER */
footer {
  background: var(--dark);
  border-top: solid;
  padding: 2em;
  color: var(--teal);
}
